# Copy this to .env and fill in real values
NODE_ENV=development
PORT=3000

POSTGRES_HOST=localhost
POSTGRES_PORT=5432
POSTGRES_USER=logixia
POSTGRES_PASSWORD=change_me
POSTGRES_DB=logixia_logs

MONGO_HOST=localhost
MONGO_PORT=27017
MONGO_USER=logixia
MONGO_PASSWORD=change_me
MONGO_DB=logixia_logs

KAFKA_BROKERS=localhost:9092
KAFKA_GROUP_ID=logixia-group

LOG_TO_FILE=true
LOG_TO_POSTGRES=true
LOG_TO_MONGO=true
LOG_FILE_DIR=./logs
LOG_FILE_NAME=app.log

APP_NAME=thread-gate
